#!/usr/bin/env bash

unset GIT_LITERAL_PATHSPECS

git_file_path() {
    local FILE_PATH="$1"
    [[ -z "$FILE_PATH" ]] && echo 'No path provided' >&2 && exit 1
    git rev-parse --git-path "$FILE_PATH"
}

git_file_exists() {
    local FILE_PATH="$1"
    [[ -z "$FILE_PATH" ]] && echo 'No path provided' >&2 && exit 1
    git rev-parse --verify "$FILE_PATH"
}

is_rebase() {
    git_file_exists 'REBASE_HEAD' || [[ -d "$(git_file_path 'rebase-merge')" || -d "$(git_file_path 'rebase-apply')" ]]
}

is_merge() {
    git_file_exists 'MERGE_HEAD' || [[ -f "$(git_file_path 'MERGE_HEAD')" ]]
}

is_cherry_pick() {
    git_file_exists 'CHERRY_PICK_HEAD'
}

is_amend() {
    [[ -n "$(ps -ocommand= -p "${PPID}" | grep -- '--amend')" ]]
}

is_rebase && echo 'Is rebase, exiting' >&2 && exit 0
is_merge && echo 'Is merge, exiting' >&2 && exit 0
is_cherry_pick && echo 'Is cherry pick, exiting' >&2 && exit 0
is_amend && echo 'Is amend, exiting' >&2 && exit 0

HELP_MSG_STRING='Please enter the commit message for your changes'
BRANCH=$(git branch | grep '*' | sed 's/* //')
if [ "$BRANCH" != "master" ] && $(echo "$BRANCH" | grep -q '/'); then
    BRANCH="$(echo ${BRANCH} | cut -d/ -f 2)"
    FILE=$(cat "$1")
    # Exclude the contents of the help message and diff from the check.
    if [[ -n "${BRANCH}" ]] && ! grep "${BRANCH}" <<< $(sed '/'"${HELP_MSG_STRING}"'/q' "${1}"); then
        # If contains help message, goes on top, else on bottom.
        if grep -q "${HELP_MSG_STRING}" "${1}"; then
            echo -e "\n\n${BRANCH}\n${FILE}" > "$1"
        else
            echo -e "${FILE}\n\n${BRANCH}\n" > "$1"
        fi
    fi
fi
