#!/bin/sh

BRANCH=$(git branch | grep '*' | sed 's/* //')
if [ "$BRANCH" != "master" ]; then
    BRANCH=${BRANCH##*/}
    FILE=$(cat "$1")
    if [[ -n "${BRANCH}" ]]; then
        if [[ $(echo "${FILE}" | wc -l | awk '{print $1}') -eq 1 ]]; then
            echo -e "${FILE}\n\n${BRANCH}\n" > "$1"
        else
            echo -e "\n\n${BRANCH}\n${FILE}" > "$1"
        fi
    fi
fi
